@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

body {
  font-family: 'Pretendard';
}


#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: opacity 0.6s ease;
}

.ld_text h5 {
  font-size: 1.5rem;
  color: #333;
  font-family: 'Arial', sans-serif;
  animation: fadeInOut 1.5s infinite;
}

@keyframes fadeInOut {
  0% {
    opacity: 0.3;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}

#loading.fade-out {
  opacity: 0;
  pointer-events: none;
}

.gnb {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background: #f5f5f5;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  display: flex;
}

.gnb img {
  width: 36px;
  height: 36px;
}

.gnb ul {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  list-style: none;
}

.gnb li {
  display: flex;
  align-items: center;
}

.gnb a {
  font-size: 18px;
  font-weight: 600;
  color: #111;
  padding: 6px 12px;
  transition: color 0.3s, border-bottom 0.3s;
  border-bottom: 2px solid transparent;
}

.gnb a:hover,
.gnb a.active {
  color: #2b4ff1;
  border-bottom: 2px solid #2b4ff1;
}


#profile,
#project,
#photoshop {
  scroll-margin-top: 70px;
}



.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: #f5f5f5;
  height: 60px;
  border-bottom: 1px solid rgba(102, 102, 102, 0.3);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  background-color: f5f5f5;
}

.header .text_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 100%;
  padding: 0 30px;
}

.header .text_box .text p {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.main {
  background: #eaeaea;
  height: 100vh;
  padding-top: 80px;
}

.main .text_box {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
}

.main .text_box .text {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .text_box .text h1 {
  font-size: 150px;
  font-weight: bold;
  color: #333;
}

.main .sub_text {
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main .sub_text .text {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main .sub_text .text p {
  font-size: 20px;
  color: #333;
  line-height: 1.8;
}

.profile {
  background: #f5f5f5f5;
  padding: 100px 0;
  color: #333;
}

.profile .title h2 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 60px;
  position: relative;
}

.profile .title h2::after {
  content: '';
  display: block;
  width: 60px;
  height: 4px;
  background-color: #333;
  margin: 20px auto 0;
  opacity: 0.2;
}

.profile .box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 200px;
  max-width: 1200px;
  margin: 0 auto;
}

.profile .image_box {
  flex: 100px;
  text-align: center;
}

.profile .image_box .image img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 20px;
}

.box>.image_box {
  perspective: 1000px;
  width: 300px;
  height: 500px;
  position: relative;
}

.box>.image_box .image,
.box>.image_box .sub_image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 1s ease;
}

.box>.image_box .image {
  z-index: 2;
  transform: rotateY(0deg);
}

.box>.image_box .sub_image {
  background-color: #2b4ff1;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
  padding: 50px 20px;
  z-index: 1;
}

.box>.image_box .sub_image .text {
  height: 100%;
  display: flex;
  gap: 10px;
}
.box>.image_box .sub_image .text strong {
  font-size: 20px;
  color: #f5f5f5;
}
.box>.image_box:hover .image {
  transform: rotateY(180deg);
  z-index: 1;
}

.box>.image_box:hover .sub_image {
  transform: rotateY(0deg);
  z-index: 2;
}

.profile .ex {
  flex: 1 1 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile .ex .name p {
  font-size: 24px;
  font-weight: 700;
}

.profile .ex .name span {
  display: block;
  font-size: 16px;
  color: #666;
  margin-top: 4px;
}

.profile .ex .number p,
.profile .ex .email p,
.profile .ex .education p {
  font-size: 16px;
  line-height: 1.6;
}

.profile .skill .image_box {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  margin-top: 20px;
}

.profile .skill .image_box .image {
  width: 80px;
  text-align: center;
}

.profile .skill .image_box .image img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-bottom: 8px;
}

.profile .skill .image_box .image p {
  font-size: 16px;
  color: #555;
}


.project {
  background: #eaeaea;
  padding-bottom: 150px;
}


.project .title h2 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  padding: 60px 0;
  color: #222;
}

.subswiper {
  margin-top: 30px;
  margin-bottom: 150px;
}

.subswiper,
.psSwiper {
  height: 900px;
}


.subswiper .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 640px;
  height: 100%;
  background: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 30px;
  transition: transform 0.3s ease;
  overflow: hidden;
}

.swiper-slide:hover {
  transform: translateY(-5px);
}

.psSwiper .swiper-slide .image,
.subswiper .swiper-slide .image {
  width: 100%;
  height: 500px;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 60px;
}

.psSwiper .swiper-slide .image img,
.subswiper .swiper-slide .image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.mainSwiper {
  background: #f5f5f5;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 600px;
  cursor: grab;
}

.mainSwiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.mainSwiper .swiper-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 0;
  transition: opacity 0.8s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.mainSwiper .swiper-slide.swiper-slide-active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  z-index: 999;
}

.mainSwiper .image {
  width: 600px;
  height: 500px;
  flex-shrink: 0;
  margin-left: 150px;
}

.mainSwiper .image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.mainSwiper .swiper-slide h3 {
  font-size: 24px;
  font-weight: bold;
}

.mainSwiper .swiper-slide .text p {
  font-size: 18px;
}

.swiper-pagination-bullet {
  width: 25px !important;
  height: 25px !important;
  background: none !important;
  border: 2px solid #999 !important;
  color: #999 !important;
  font-size: 14px !important;
  line-height: 21px !important;
  text-align: center !important;
  border-radius: 50% !important;
  transition: all 0.3s ease !important;
}

.swiper-pagination-bullet-active {
  background-color: #2b4ff1 !important;
  border-color: #fff !important;
  color: rgb(255, 255, 255) !important;
}

.text_box {
  width: 100%;
  text-align: left;
}

.text_box .title h3 {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin-bottom: 8px;
}

.text_box .title p {
  font-size: 16px;
  color: #777;
  margin-bottom: 16px;
}

.text_box .text {
  gap: 10px;
}

.text_box .text p {
  font-size: 14px;
  line-height: 1.6;
  color: #555;
  margin-bottom: 10px;
}

.text_box .text a button {
  height: 40px;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}

.text_box .text a button:hover {
  background-color: #555;
}


.more-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.moreButton {
  height: 40px;
  padding: 8px 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease
}


.menu {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  border-radius: 5px;
  padding: 10px;
  display: none;
  z-index: 100;
}

.menu.show {
  display: block;
}

.menu ul {
  display: flex;
  gap: 10px;
  list-style: none;
}

.menu li {
  height: 100%;
  white-space: nowrap;
  font-size: 14px;
  color: #eaeaea;
  font-weight: 500;
  padding: 8px 10px;
  border-radius: 5px;
  background: #2b4ff1;
  cursor: pointer;
}

.psSwiper .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 640px;
  height: 100%;
  background: #f5f5f5;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 30px;
  transition: transform 0.3s ease;
  overflow: hidden;
}

.ps {
  padding: 100px 0;
  background: #eaeaea;
}

.ps>.title {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.ps .title h2 {
  font-size: 36px;
}

.ps .swiper-slide {
  height: 100%;
  padding-top: 80px;
}

.ps .swiper-slide .title {
  text-align: center;
}

.ps .swiper-slide .text {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ps h3 {
  padding-top: 40px;
}

.ps .swiper-slide button {
  margin: 0 !important;
  background-color: #2b4ff1 !important;
  padding: 10px 20px;
  border: inherit;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.ps .image {
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

.ps img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sub_image {
  width: 500px;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  z-index: 9999;
  max-width: 100%;
  max-height: 100%;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.sub_image img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.sub_image.custom-popup img {
  height: 100%;
}



.footer .inner {
  background: #fff;
  z-index: 999;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.footer img {
  width: 36px;
  height: 36px;
}

.footer .text_inner {
  height: 100%;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: space-between;
}

.footer .text_box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  padding: 0 30px;
  gap: 80px;
}

.footer .text_box .text {
  display: flex;
  gap: 12px;
  text-align: center;
  align-items: center;
}

.footer .text_box .text p {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin: 0;
}

.footer .text_box .text span {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.footer .sub_text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 50px;
}

.footer .sub_text p {
  font-size: 16px;
  font-weight: 500;
  color: #333;
  text-align: center;
}

.footer .sub_text span {
  text-align: center;
}

.footer .sub_text img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 8px;
}
